@charset "UTF-8";
/*GLOBAL: está en estilos.css*/
/*HEADER: está en estilos.css por compatibilidad con Bootstrap*/
/*------------------MAIN------------------------*/
main {
  grid-area: m;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("..//images/textures/buried.png"); }
  main #fotoFaboBufe {
    width: 100%;
    box-shadow: 0px 2px 50px black;
    filter: grayscale(10%);
    transition: 2s; }
  main #fotoFaboBufe:hover {
    width: 105%;
    filter: grayscale(0%); }
  main h1 {
    color: #dcb88a;
    text-align: center;
    font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  main #titulo {
    font-size: 2rem;
    margin-top: 3%;
    margin-bottom: 3%;
    transition-property: text-shadow;
    transition-duration: 0.5s; }
  main #titulo:hover, main .tituloSection:hover {
    text-shadow: 2px 2px 50px black; }
  main .tituloSection {
    margin-top: 15px;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    transition-duration: 0.5s; }
    main .tituloSection span {
      font-size: 4rem; }
  main .videoindex {
    width: 100%;
    height: auto; }
    main .videoindex iframe {
      width: 100%;
      min-width: 360px; }
  main p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%; }
    main p span {
      font-weight: bolder;
      transition-property: color;
      transition-duration: 0.5s; }
    main p span:hover {
      color: #dcb88a; }
  main h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 1%;
    font-size: 0.8rem; }
  main .suscribiteBoton {
    font-size: 3rem;
    margin-top: 1%;
    background-color: #dcb88a;
    color: #2e2e2e;
    border-radius: 1.5rem;
    font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2rem;
    width: auto;
    padding: 2% 5% 2% 5%;
    margin-bottom: 1%;
    transition: 0.5s; }
  main .suscribiteBoton:hover {
    background-color: #f82121;
    color: #fafafa;
    transform: scale(1.2, 1.2); }
  main .containerCafecito {
    display: flex;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #3a354660;
    padding: 2%;
    border-radius: 25px;
    align-items: center; }
    main .containerCafecito .cafecito {
      margin-left: 10px;
      transition: 2s; }
    main .containerCafecito .cafecito:hover {
      filter: invert(1); }

/*---------------VIDEOS---------------------*/
#videosContenedor {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 75%; }
  #videosContenedor .videosContenedorInner {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 2%; }
    #videosContenedor .videosContenedorInner .videosGaleria {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%; }

/*------------FIN VIDEOS------------------*/
/*BEBIDAS: está en estilos.css por compatibilidad con Bootstrap*/
/*MERCH: está en estilos.css por compatibilidad con Bootstrap*/
/*--------------CONTACTO-----------------*/
#mainContacto .tituloContacto {
  margin-top: 3%;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  transition-property: text-shadow, font-size;
  transition-duration: 1s; }

#mainContacto .formulario {
  width: 75%;
  font-family: 'Montserrat', sans-serif;
  color: #dcb88a;
  line-height: 1.25rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 25px;
  border: none;
  border-radius: 5%;
  box-shadow: 2px 2px 50px black;
  background: url("..//images/fondobirras.jpg"); }
  #mainContacto .formulario fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 2rem;
    position: relative; }
    #mainContacto .formulario fieldset input {
      width: 50%;
      text-align: center;
      background-color: #c4c4c4; }
    #mainContacto .formulario fieldset textarea {
      margin-top: 5%;
      width: 75%;
      height: auto;
      background-color: #c4c4c4;
      font-size: 1rem; }
    #mainContacto .formulario fieldset ::placeholder {
      color: #1f2029; }
    #mainContacto .formulario fieldset .botones {
      background-color: #dcb88a;
      color: #2e2e2e;
      font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
      font-size: 2rem;
      width: 25%;
      min-width: fit-content;
      margin: 2%;
      border-radius: 20px;
      transition: 1s;
      border: none;
      padding: 10px 10px 10px 10px; }
    #mainContacto .formulario fieldset .botones:hover {
      transform: scale(1.2, 1.2); }

/*-----------------FOOTER----------------*/
footer {
  grid-area: f;
  background-color: #1f1f1f;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -2px 50px black; }
  footer #footerP {
    margin: 0;
    color: #a5a5a5;
    font-family: "ConstructaRegular", Georgia, 'Times New Roman', Times, serif;
    transition-property: color;
    transition-duration: 1s; }
  footer #footerP:hover {
    color: #dcb88a; }
  footer #footerLinks a {
    color: rgba(255, 255, 255, 0.55);
    transition-property: color;
    transition-duration: 0.5s; }
  footer #footerLinks a:hover {
    color: #dcb88a; }
  footer #redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    footer #redes .icon {
      stroke: rgba(255, 255, 255, 0.55);
      transition-property: stroke;
      transition-duration: 0.25s; }
    footer #redes .icon:hover {
      stroke: #dcb88a;
      width: 105%;
      height: auto; }
    footer #redes a {
      padding: 5px;
      transition: 0.5s; }

/*-------------------------------------MEDIA QUERIES-------------------------------*/
/*------------TABLETS-------------------*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /*-----------MAIN-------------*/
  main #titulo, main .tituloContacto, main .tituloSection {
    font-size: 3rem; }
  main p {
    font-size: 1.25rem; }
  main h3 {
    font-size: 1rem; }
  /*-----------FOOTER-------------*/
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer #footerP {
      font-size: 0.75rem;
      font-family: "ConstructaRegular", Georgia, 'Times New Roman', Times, serif; } }

/*------------FIN TABLETS-------------------*/
/*------------ESCRITORIO-------------------*/
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  /*-----------MAIN-------------*/
  main #titulo, main .tituloContacto, main .tituloSection {
    font-size: 4rem; }
  main iframe {
    width: 100%;
    min-width: 697px;
    min-height: 392px; }
  main #pMain {
    font-size: 2rem; }
  main .suscribiteBoton {
    font-size: 2.5rem;
    padding: 1% 2.5% 1% 2.5%; }
  main h3 {
    font-size: 2rem; }
  /*-----------CONTACTO-----------*/
  #mainContacto .formulario fieldset textarea {
    font-size: 2rem !important; }
  /*-----------FOOTER-------------*/
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer #footerP {
      font-size: 1rem; }
    footer #footerLinks a {
      font-size: 1.2rem; } }

/*------------ESCRITORIO-------------------*/
@media only screen and (min-width: 1330px) and (max-width: 1920px) {
  #titulo, .tituloContacto, .tituloSection {
    font-size: 5rem !important; }
    #titulo span, .tituloContacto span, .tituloSection span {
      font-size: 7rem !important; }
  /*-----------CONTACTO-----------*/
  #mainContacto .tituloContacto:hover {
    text-shadow: 2px 2px 50px black;
    font-size: 7rem !important; }
  #mainContacto .formulario fieldset textarea {
    font-size: 2rem !important; }
  footer {
    height: 125%; } }
