$colorDBB: #dcb88a;

/*GLOBAL: está en estilos.css*/

/*HEADER: está en estilos.css por compatibilidad con Bootstrap*/

/*------------------MAIN------------------------*/
main{
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("..//images/textures/buried.png");
    

    
    #fotoFaboBufe {
        width: 100%;
        box-shadow: 0px 2px 50px black;
        filter: grayscale(30%);
        transition: 0.5s;
    }

    #fotoFaboBufe:hover {
        filter: grayscale(0%);
    }

    h1 {
        color:  $colorDBB;
        text-align: center;
        font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        letter-spacing: 1rem;
    }

    #titulo {
        font-size: 2rem;
        margin-top: 3%;
        margin-bottom: 3%;
        transition-property: text-shadow;
        transition-duration: 0.5s;
        
    }

    #titulo:hover{
        text-shadow: 2px 2px 50px black;
       
    }

    .tituloSection{
        margin-top: 15px;    
        font-size: 3rem;
        letter-spacing: 0.5rem;
        transition-duration: 0.5s;
        
        span {
            font-size: 4rem;
        }
    }

    .tituloSection:hover{
        @extend #titulo:hover;
    }

    .videoindex{
        width: 100%;
        height: auto;

        iframe{
            width: 100%;
            min-width: 360px;
        }
    }

   
    
    /*----------CERVEZA--ANIMADA-------------*/

    $background: #f1e1c5;
    $beerL: #ffc400af;
    $beerD: #fdaa10b7;
    $foam: #fff9de;
    $mug: #f1ecdb;
    $size-anim: 3rem;
    $size-single-div: 3rem;

    #birra-contenedor{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        width: 100%;
        height: auto;
    }

    #birra-contenedor-abajo{
        @extend #birra-contenedor;
        margin-top: 0;
        margin-bottom: 2%;
        
    }

    .beer-animation-wrapper {
    position: relative;
    overflow-y: hidden; 
    padding: $size-anim * 0.17;
    padding-right: 0;
    margin: 0 2% 0 2%;
    
    
    
    .beer {  
        position: relative;
        height: $size-anim;
        width: $size-anim * 0.75;
        min-width: $size-anim * 0.75;
        margin-top: $size-anim * 0.32;
        margin-right: $size-anim * 0.27;
        margin-left: $size-anim * 0.09;
        z-index: 1;
        background-image:     
        /*bottom of mug*/
        radial-gradient(($size-anim * .65) ($size-anim * .15) at 50% 103%, $mug 40%, transparent 40%),    
        /*beer*/
        linear-gradient(to right, $beerL 50%, $beerD 50%); 
        border-radius: 0 0 15% 15%;
        /*mug*/
        border: ($size-anim * .06) solid $mug; 
        box-sizing: border-box;
        &:before {
        content: '';
        position: absolute;
        height: 130%;
        width: 100%;
        bottom: -5%;
        z-index: 2;
        opacity: 1;
        animation: 3s bubbles linear infinite;
        background:
        /*bubbles*/
        radial-gradient(($size-anim * .06) ($size-anim * .06) at 25% 85%, lighten($beerL, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .04) ($size-anim * .04) at 70% 45%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .05) ($size-anim * .05) at 35% 40%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .03) ($size-anim * .03) at 80% 30%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .04) ($size-anim * .04) at 60% 81%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .03) ($size-anim * .03) at 89% 89%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .05) ($size-anim * .05) at 77% 78%, lighten($beerD, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .03) ($size-anim * .03) at 40% 57%, lighten($beerL, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .02) ($size-anim * .02) at 30% 67%, lighten($beerL, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .02) ($size-anim * .02) at 30% 17%, lighten($beerL, 20%) 80%, transparent 80%),
        radial-gradient(($size-anim * .03) ($size-anim * .03) at 40% 10%, lighten($beerL, 20%) 80%, transparent 80%),  
        radial-gradient(($size-anim * .05) ($size-anim * .05) at 62% 24%, lighten($beerL, 20%) 80%, transparent 80%), 
        radial-gradient(($size-anim * .04) ($size-anim * .04) at 18% 31%, lighten($beerL, 20%) 80%, transparent 80%), 
        radial-gradient(($size-anim * .06) ($size-anim * .06) at 83% 60%, lighten($beerL, 20%) 80%, transparent 80%)       
            ;
        }
        
        &:after {
        /*mug handle*/
        content: '';
        position: absolute;
        border-radius: 0 50% 50% 0;
        height: ($size-anim * .5);
        width: ($size-anim * .33);
        top: ($size-anim * .15);
        right: ($size-anim * -.33);
        background-color: transparent;
        box-sizing: border-box;
        border: ($size-anim * .08) solid $mug; 
        border-left: ($size-anim * .06) solid $mug;    
        }

        

    }
    .foam {
        position: relative;
        top: -20%;
        left: 63%;
        height: ($size-anim * .10);
        width: ($size-anim * .10);
        background: lighten($foam, 5%);
        border-radius: ($size-anim * .17);
        box-shadow:
        /*reflection*/ 
        ($size-anim * -.35) ($size-anim * .28) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .29) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .30) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .31) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .32) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .33) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .34) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .35) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .36) 0 ($size-anim * -.015) lighten($beerL, 30%), 
        ($size-anim * -.35) ($size-anim * .37) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .38) 0 ($size-anim * -.015) lighten($beerL, 30%),   
        ($size-anim * -.35) ($size-anim * .39) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .40) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .41) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .42) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .43) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .44) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .45) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .46) 0 ($size-anim * -.015) lighten($beerL, 30%), 
        ($size-anim * -.35) ($size-anim * .47) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .48) 0 ($size-anim * -.015) lighten($beerL, 30%),   
        ($size-anim * -.35) ($size-anim * .49) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .50) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .51) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .52) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .53) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .54) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .55) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .56) 0 ($size-anim * -.015) lighten($beerL, 30%), 
        ($size-anim * -.35) ($size-anim * .57) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .58) 0 ($size-anim * -.015) lighten($beerL, 30%),   
        ($size-anim * -.35) ($size-anim * .59) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .60) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .61) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .62) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .63) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .64) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .65) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .66) 0 ($size-anim * -.015) lighten($beerL, 30%), 
        ($size-anim * -.35) ($size-anim * .67) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .68) 0 ($size-anim * -.015) lighten($beerL, 30%),   
        ($size-anim * -.35) ($size-anim * .69) 0 ($size-anim * -.015) lighten($beerL, 30%),   
        ($size-anim * -.35) ($size-anim * .70) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .71) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .72) 0 ($size-anim * -.015) lighten($beerL, 30%),
        ($size-anim * -.35) ($size-anim * .73) 0 ($size-anim * -.015) lighten($beerL, 30%),    
        /*foam*/ 
        0 ($size-anim * .11) 0 ($size-anim * .07) $foam,
        0 ($size-anim * .07) 0 ($size-anim * .07) lighten($foam, 5%),
        ($size-anim * -.27) ($size-anim * .07) 0 ($size-anim * .04) $foam,
        ($size-anim * -.39) ($size-anim * .06) 0 ($size-anim * .06) lighten($foam, 5%),
        ($size-anim * -.18) ($size-anim * .12) 0 ($size-anim * .04) $foam,
        ($size-anim * -.5) ($size-anim * .08) 0 ($size-anim * .04) $foam,
        ($size-anim * -.15) 0 0 ($size-anim * .06) lighten($foam, 5%),
        ($size-anim * .14) ($size-anim * .07) 0 ($size-anim * .06) lighten($foam, 5%),
        ($size-anim * -.32) ($size-anim * -.08) 0 ($size-anim * .05) lighten($foam, 5%),
        ($size-anim * -.18) ($size-anim * -.14) 0 ($size-anim * .05) $foam,
        ($size-anim * -.05) ($size-anim * -.07) 0 ($size-anim * .05) $foam,
        ($size-anim * .07) ($size-anim * -.05) 0 ($size-anim * .01) lighten($foam, 5%),
        ($size-anim * .09) ($size-anim * -.07) 0 ($size-anim * .01) $foam,
        ($size-anim * .25) ($size-anim * .07) 0 ($size-anim * .01) $foam;
        &:before, &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: 200%;
        width: ($size-anim * .10);  
        border-radius: ($size-anim * .17);
        background: $foam;
        background: (linear-gradient(to right, $foam 75%, lighten($foam, 5%) 75%));
        }
        &:after {
        left: 100%;
        height: ($size-anim * 0);
        animation: drip1 2s ease-out forwards;
        }
        &:before {
        right: 25%;
        height: ($size-anim * 0);
        animation: drip2 5s ease-out forwards;
        }
    }
    }

    @keyframes drip2 {
    0% {
        height: ($size-anim * 0);
    }
    50% {
        height: ($size-anim * .30);
    }
    75% {
        height: ($size-anim * .30);
    }
    80% {
        height: ($size-anim * .30);
    }
    100% {
        height: ($size-anim * .35);
    }
    }

    @keyframes drip1 {
    0% {
        height: ($size-anim * 0);
    }
    100% {
        height: ($size-anim * .50);
    }
    }

    @keyframes bubbles {
    0% {
        transform: translatey(0%);
    }
    99% {
        transform: translatey(-50%);
    }
    100% {
        opacity: 0;
    }
    }
    /*-------FIN-CERVEZA-ANIMADA------------*/

    p{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        text-shadow: 2px 2px 50px black;
        

        span{
            font-weight: bolder;
            transition-property: color;
            transition-duration: 0.5s;

        }

        span:hover{
            color: $colorDBB;     
            
        }
    }

    #suscribite-contenedor {
        background-color: rgba(0, 0, 0, 0.096);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2% 0 0 0;
        transition: 2s;            
    }

    #suscribite-contenedor:hover{
        background-color: rgba(0, 0, 0, 0.247);
    }
    
    h3{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 1%;
        font-size: 0.8rem;
          
    }

    .suscribiteBoton {
        font-size: 3rem;
        margin-top: 1%;
       background-color:   $colorDBB;
       color: rgb(46, 46, 46);
       border-radius: 1.5rem;
       font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
       font-size: 2rem;
       width: auto;
       padding: 2% 5% 2% 5%;
       margin-bottom: 1%;
       transition: 0.5s;
    }
    
    .suscribiteBoton:hover {
        background-color:  rgb(248, 33, 33);
       color: rgb(250, 250, 250);
       transform: scale(1.2,1.2);
    }

    .containerCafecito {

        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 3%;
        background-color: #3a354660;
        padding: 1%;
        align-items: center;

            .cafecito {
                margin-left: 10px;
                transition: 2s;
                              
            }

            .cafecito:hover{
                filter: invert(1);
            }
    }

    .container-img-master{

        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
   
        .container-imagen-link {
            position: relative;
            

            .imagen-link{
            width: 25%;
            display: block;
                height: auto;
            }
            .superponer{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 25%;
                opacity: 0;
                transition: .5s ease;
                background-color: $colorDBB;

                .texto {
                    font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
                    font-size: 3rem;
                    color: rgb(46, 46, 46);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }

            .superponer:hover{
                opacity: 0.9;
            }
        }
    }

    
/*---------------VIDEOS---------------------*/
#videosContenedor {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 75%;

    .videosContenedorInner {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        margin-bottom: 2%;

        .videosGaleria {
             position: absolute;
             top: 0;
             left: 0;
             bottom: 0;
             right: 0;
             width: 100%;
             height: 100%;
         }
    }
    
   
    }
}




/*------------FIN VIDEOS------------------*/

/*BEBIDAS: está en estilos.css por compatibilidad con Bootstrap*/

/*MERCH: está en estilos.css por compatibilidad con Bootstrap*/

/*--------------CONTACTO-----------------*/

#mainContacto {
    
    .tituloContacto{
        margin-top: 3%;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        transition-property: text-shadow, font-size;
        transition-duration: 1s;
    }

    
    
    .formulario {
        width: 75%;
        font-family: 'Montserrat', sans-serif;
        color:$colorDBB;
        line-height: 1.25rem;
        text-align: center;
        line-height: 2.5rem;
        margin: 25px;
        border: none;
        border-radius: 5%;
        box-shadow: 2px 2px 50px black;
        
        
       

        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px;
            font-size: 2rem;
            position: relative;
            
            #birra-contenedor-contacto{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 3%;
                width: 100%;
                height: auto;
                margin-bottom: 2%;
            }
            }
            
            input {
                width: 50%;
                text-align: center;  
                background-color: rgb(196, 196, 196);
             }

            textarea {
                margin-top: 5%;
                width: 75%;
                height: auto;
                background-color: rgb(196, 196, 196);
                font-size: 1rem;
              
            }

            ::placeholder{
                color: rgb(31, 32, 41);
                
            }
          

            .botones {
                background-color: $colorDBB;
                color: rgb(46, 46, 46);
                font-family: "ConstructaBlack", Georgia, 'Times New Roman', Times, serif;
                font-size: 2rem;
                width: 25%;
                min-width: fit-content;
                margin: 2%;
                border-radius: 20px;
                transition: 1s;
                border:none;
                padding: 10px 10px 10px 10px;
                
                
            }
            
            .botones:hover {
                transform: scale(1.2, 1.2);
                
            }
        }

    }
  



/*-----------------FOOTER----------------*/
footer {
    grid-area: f;
    background-color: #1f1f1f;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 50px black;

    #footerP {
        margin: 0;
        color: rgb(165, 165, 165);
        font-family: "ConstructaRegular", Georgia, 'Times New Roman', Times, serif;
        transition-property: color;
        transition-duration: 1s;
    }

    #footerP:hover{
        color: $colorDBB;
        
    }

    #footerLinks{
        a{
            color: rgba(255,255,255,.55);
            transition-property: color;
            transition-duration: 0.5s;
                    }
        
        a:hover{
            color: $colorDBB;
            
            
        }
        
    }

    #redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        .icon{
            stroke:rgba(255,255,255,.55);
            transition-property: stroke;
            transition-duration: 0.25s;
        }

        .icon:hover {
            stroke: $colorDBB;
            width: 105%;
            height: auto;
        }

        a{
            padding: 5px; 
            transition: 0.5s
        }
       
    }

}

/*-------------------------------------MEDIA QUERIES-------------------------------*/

/*------------TABLETS-------------------*/

@media only screen and  (min-width: 576px) and (max-width: 992px) {
 

    /*-----------MAIN-------------*/
    main{
        #titulo, .tituloContacto, .tituloSection {
            
            font-size: 3rem;
        }
       
        p{
            font-size: 1.25rem;
        }

        h3{
            font-size: 1rem;
            
            
        }
    }

    /*-----------FOOTER-------------*/
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #footerP {
            font-size: 0.75rem;
            font-family: "ConstructaRegular", Georgia, 'Times New Roman', Times, serif;
        }
    }
}

    /*------------FIN TABLETS-------------------*/



/*------------ESCRITORIO-------------------*/
@media only screen and (min-width: 992px) and (max-width: 1920px) {

   
    /*-----------MAIN-------------*/
    main{
        #titulo, .tituloContacto, .tituloSection {
            font-size: 4rem;
        }

        iframe{
            width: 100%;
            min-width: 697px;
            min-height: 392px;
        }
        
        
        #pMain{
            font-size: 2rem;
        }
        
        .suscribiteBoton{
        font-size: 2.5rem;
        padding: 1% 2.5% 1% 2.5%;
        }

        h3{
            font-size: 2rem;
                       
        }
    }

    /*-----------CONTACTO-----------*/

    #mainContacto{
       
        .formulario{
            fieldset{
                textarea{
                    font-size: 2rem!important;
                }
            }

            
        }

        
    }

    /*-----------FOOTER-------------*/
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #footerP {
            font-size: 1rem;
        }
        
        #footerLinks a{
            font-size: 1.2rem;
        }
    }
}/*------------ESCRITORIO-------------------*/

@media only screen and (min-width: 1330px) and (max-width: 1920px) {
   
    #titulo, .tituloContacto, .tituloSection {
        font-size: 5rem!important;
            span{
                font-size: 7rem!important;
            }

    
    }

    /*-----------CONTACTO-----------*/
  

    #mainContacto{
        
        .tituloContacto:hover{
            text-shadow: 2px 2px 50px black;
            font-size: 7rem!important;
        }


        .formulario{
            fieldset{
                textarea{
                    font-size: 2rem!important;
                }
            }

        }

     
    }


    footer{
        height: 125%;
    }
}